{
    "extends": ["react-app", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "react/display-name": "off",
        "prettier/prettier": ["warn"],
        "import/no-extraneous-dependencies": "off",
        "no-console": [
            "warn",
            {
                "allow": ["warn", "error"]
            }
        ],
        "no-unused-vars": [
            "warn",
            {
                "ignoreRestSiblings": true
            }
        ],
        "import/no-named-as-default": "off",
        "react/forbid-prop-types": ["off"],
        "react/prop-types": ["warn"],
        "react/jsx-no-bind": ["off"],
        "react/jsx-indent": ["off"],
        "react/jsx-indent-props": ["off"],
        "react/jsx-filename-extension": ["off"]
    },
    "globals": {
        "expect": true
    }
}
