/api/dist/
/front/build
/front/storybook-static
node_modules
npm-debug.log*
var/data/
var/data-test/
yarn-debug.log*
yarn-error.log*
/front/.expo
var/deploy.key
var/deploy-prod.key
var/amnesty-staging-deploy
var/amnesty-staging-deploy.pub
var/amnestystaging.pem
/admin/build
var/uploads
