## General
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
var/data/
var/data-test/
var/deploy.key
var/deploy-prod.key
var/amnesty-staging-deploy
var/amnesty-staging-deploy.pub
var/amnestystaging.pem
var/amnesty-prod
var/amnesty-prod.pub
var/uploads
var/

## Api
/api/dist/
/api/.pm2

## Front
/front/build
/front/storybook-static
/front/.expo

## Admin
/admin/build

.envrc