{
    "presets": ["babel-preset-expo"],
    "env": {
        "development": {
            "plugins": [
                "transform-object-rest-spread",
                "transform-react-jsx-source",
                "transform-class-properties"
            ]
        },
        "staging": {
            "plugins": ["transform-remove-console"]
        },
        "production": {
            "plugins": ["transform-remove-console"]
        }
    }
}
